@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body { 
    margin: 0;
    padding: 0;
    border: none;
}

#option-section {
    padding: 10px;
    background-color: red;
    height: 600px;
}

.option-boxes {
    height: 350px;
    width: 30%;
    display: inline-block;
    margin: 5px;
    padding: 2px;

}
    #services {
    background-color: blue;
    }
    #about-me {
    background-color: orange;
    }
    #enquire {
    background-color: green;
    }

ul {
    text-decoration: none;
}

