* {
    margin: 5px;
    padding: 0px;
    border: none;
} 

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

header {
    padding: 5px;
}

/* Headings */

h1, h2 {
    font-family: 'Open-sans', sans-serif;
    letter-spacing: 4px;
}

/* Logo */

#logo {
    float: left;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

header img:hover {
    zoom: 110%;
}

/* Navigational links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
}

/* Hero Image & Welcome Text */

#hero-welcome {
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
    border: 1px solid black;
}

#welcome {
    position: relative;
    top: 5px;
    text-align: center;
    background: rgba(245, 245, 15, 0.2)
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('personal-trainer.jpg') no-repeat center center;
}

/*Services section */

#services {
    height: 300px;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    }

#beginner {
    height: 200px;
    width: 25%;
    display: inline;
    text-align: center;
    background: rgb(0, 183, 255);
    margin-right: 50px;
}   

#intermediate {
    height: 200px;
    width: 25%;
    text-align: center;
    background: rgb(0, 183, 255);
    margin-right: 50px;
    display: inline;
} 

#advanced {
    height: 200px;
    width: 25%;
    display: inline;
    text-align: center;
    background: rgb(0, 183, 255);
    margin-right: 50px;
} 
#services ul {
    list-style-position: inside;
    text-align: left;
    
}